<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ session_title }} - Editing {{ title }}</title>
<style>
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out 0s;
  -moz-animation: fadeIn 1s ease-in-out 0s;
  -o-animation: fadeIn 1s ease-in-out 0s;
   animation: fadeIn 1s ease-in-out 0s;
}
</style>
</head>
{#
{% include 'nav.html' %}
{% include 'info.html' %}
#}
{% if admin_message is defined %}<b>{{ admin_message }}</b>{% endif %}
<form action="#" method="POST" id="edit">
<label for="title">Title:</label><input accesskey="t" id="title" name="title" type="text" value="{{ title }}"><br/>
<label for="url">Url:</label><input id="url" name="url" type="text" value="{{ url }}"><br/>
<label for="tag">Tag entry:</label><input id="tag" type="text" value=""><br/>
<input type='button' value='add to list' id='add' />
<input type='button' value='remove from list' id='remove' /><br/>
<input id='tags_hidden' name='tags' type='hidden' value=''>
<label for="tags">Tags:</label><select id="tags" multiple='multiple'>
{% for i in tags %}<option id="opt_{{ i }}" name="opt_{{ i }}" value="{{ i }}">{{ i }}</option>{% endfor %}</select><br/>
<label for="notes">Notes:</label><input id="notes" name="notes" type="text" value="{{ notes }}"><br/>
<label for="timestamp">Timestamp:</label><input id="timestamp" name="timestamp" type="text" value="{{ ts }}">
<input type="button" value="Now" onclick="getNow('{{ url_for("now") }}')"><br/>
<label for="order_id">Order id:</label><input id="order_id" name="order_id" type="text" value="{{ order_id }}"><br/>
<label for="always_open_in_new_tab">Always open in new tab:</label><input id="always_open_in_new_tab" name="always_open_in_new_tab" type="checkbox" value="True" {% if always_open_in_new_tab == "True" %}checked="true"{% endif %}><br/>
<input type="submit" value="Submit" onclick="submitform()">
<input type="button" value="Cancel" onclick="history.back(-1);"><br/><br/>
<input type="button" value="Delete this bookmark!" style="background-color:#C00;" onclick="deleteBookmark();">
</form>
<form action="{{ url_for('delete') }}{{ bid }}/" method="POST" id="delete">
<input id='fd_bid' name='bid' type='hidden' value='{{ bid }}'>
<input name='action' type='hidden' value='delete'>
</form>
<script type="text/javascript" src="{{ url_for('static', filename='edit.js') }}"></script>
</html>
