<html>
<head>
<title>Front page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
Welcome to Bookmark Web Service! To access your bookmarks, please log in with your ldap account: <a href="/login/">log in</a>.
<!--<p>{{ session }}-->
</body>
</html>
