{# included by view and probably others #}
<div id="info">
Username: {{ s_user }}<br/>{#
Cookie user: {{ c_user }}<br/>
Session: {{ session }}<br/>
Cookies: {{ cookie }}<br/>#}
<div id="computername">Computer name: {% if session_computername and session_computername != "" %}{{ session_computername }}{%else%}[none]{%endif%}</div>
Session expires: {{ cookie.timestamp }}<br/>
{#
Logged in through: {{ cookie.type }}{% if groups %}<br/>
Usergroups:<ul>
{% for group in groups %}<li>{{ group }}</li>
{% endfor %}</ul>{% endif %}
#}
</div><!-- / info -->

