<html>
<head>
<title>Bookmark Web Service</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<center>
<h1>Bookmark Web Service</h1>
<form action="{{ login_url }}" method="post">
{% if options %}Login type <select name="logintype">
{% for option in options %}<option value="{{ option }}">{{ options[option] }}</option>{% endfor %}
</select>{% endif %}
<label for="username">Username:</label><input id="username" type="text" value="" name="username" required/></p>
<label for="password">Password:</label><input id="password" type="password" name="password" required/></p>
<!--<p>Remember session until logout <input type="checkbox" name="forever"/></p>-->
<p><input accesskey="s" type="submit" value="Submit"/></p>
</form>
</center>
</body>
</html>
