<html>
<head>
<title>Session_app settings</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<style type="text/css" media="screen">
input {
   width: 500px;
}
</style> -->
</head>
<body>
<h1>Settings</h1>
<form action="#" method="post" id="settings">
<!--<p>Ldap URI <input style="width: 500px;" type="text" value="{{ ldap_uri }}" name="ldap_uri"</p>-->
<b>Session-specific</b><br/>
<label for="computername">This computer name:</label><input id="computername" type=text name="computername" value="{{ session_computername }}"><br/>
<label for="title">Tab title:</label><input id="title" type=text name="title" value="{{ session_title }}"><br/>
<input accesskey="s" type="submit" value="Submit"/>
</form>
<script type="text/javascript">
let computernamebox=document.getElementById('computername');
let titlebox=document.getElementById('title');
if (cn=localStorage.getItem('computername')) { computernamebox.value = cn; };
if (t=localStorage.getItem('title')) { titlebox.value = t; };
</script>
</html>
