{# goes in the <div id='list'/> in view.html, called by the js #}{% for i in bm_list %}
{% if loop.first %}<table id="bm_list" class="display"><thead><tr><th>title</th><th>url</th><th>tags</th><th>timestamp</th><th>notes</th><th></th></tr></thead><tbody>{% endif %}
<tr><td>{{ i.title }}</td><td><a href="{{ i.url }}"
{% if i.always_open_in_new_tab %}target="_blank"{% endif %}>{{ i.url }}</a></td><td>{{ i.tags|sort|join(',') }}</td><td>{{ i.timestamp }}</td><td>{{ i.notes }}
<td><a href="{{ url_for('edit') }}{{ i.bid }}">edit<a/></tr>
{% if loop.last %}</tbody></table>{% endif %}{% endfor %}
