<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ session_title }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='upload.js') }}"></script>
</head>
{% include 'nav.html' %}
{% include 'info.html' %}
<table><tr><td>
<div id="userselector">
</div></td><td>
<div id='control'>
<input type='button' value='Refresh' onclick='refreshButton();'>
</div></td></table>
<div id="upzone">
Drop links here
</div> <!-- /upzone -->
<input id='button_new' type='button' name='button' value='Add' onclick="window.location.href='{{ url_for('edit',bid='new') }}';">
<div id="list">
loading...
</div> <!-- /list -->
<script type="text/javascript" src="{{ url_for('static', filename='view.js') }}"></script>
<script type="text/javascript">
myvar = initial(
   {{ s_user | tojson }},
   {{ url_for('edit') | tojson }},
   {{ session_computername | tojson }},
   {{ session_title | tojson }},
   {{ groups | tojson }},
   "admins"
) ;
</script>
</html>
